.mod-trending-style2 span {
    background: #F5F5F5;
    border-radius: 6px;
    margin: 2px 4px 2px 0;
    padding: 3px 5px;
    font-size: 12px;
    display: inline-block;
}
.mod-trending-style2 span a {

}
.mod-trending-style2 img {
    border-radius: 12px;
}

.mod-trending-style2 .bs4row > * {
    margin-bottom: 10px;
}

.mod-trending-style2 .itembox {
    border: 1px solid #f9f9f9;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    padding: 10px;
    margin: 10px 5px;
}
.mod-trending-style2 .imageboxleft {
    padding-right: 10px !important;
}
.mod-trending-style2 .imageboxright {
    padding-left: 10px !important;
}